<!DOCTYPE html>
<div class="container-fluid" style="padding-bottom: 15px">
    <nav class="navbar navbar-default navbar-fixed-top navbar-dark main-bg" role="navigation">
        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                    </svg>
                    Day Planner
                </a>
            </div>

            <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav pt-2 py-md-0">
                <li class="nav-item">
                    <a class="nav-link nav-text" href="/lists">Lists</a>
                </li>
            </ul> 
            
            <% if (currentUser) { %>
                <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
                    <li class="nav-item nav-link active" style="color: white; padding-right: 15px;">                
                        Logged in as <%= currentUser.fullName %>
                    </li>
                    <li class="nav-item nav-text">
                        <a class="nav-link" href="/logout">Log out</a>
                    </li> 
                </ul>
            
            <% } else { %> 
                <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
                    <li class="nav-item nav-text">
                        <a class="nav-link" style="padding-right: 15px;" href="/register">Register</a>
                    </li>
                    <li class="nav-item nav-text">
                        <a class="nav-link" href="/login">Log in</a>
                    </li> 
                </ul>
            
            <% } %> 
        </div>
    </nav>
</div>