<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>
        <!-- Navigation bar -->
        <% include my-day.ejs %> 
    
        <!-- Hero Header -->
        <header class="hero is-medium is-dark is-bold">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title is-2">Day planner & Organiser</h1>
                    <h3 class="subtitle is-4">A to-do application and organiser...</h3>
    
                    <figure class="image is-128x128">
                        <img src="https://cdn3.iconfinder.com/data/icons/fitness-24/512/6-512.png">
                    </figure>
                    <a href="/users/sign_up" class="button is-link is-outlined is-large">Sign
                        up</a>
                </div>
            </div>
        </header>
    
        <!-- Page Features -->
        <div class="level">
            <section class="section">
                <div class="card">
                    <h4 class="card-header-title">To-Do List Management</h4>
                    <p class="card-content">Get to-dos out of your head, and let the app remember for you.</p>
                </div>
            </section>
    
            <section class="section">
                <div class="card">
                    <h4 class="card-header-title">User Collaboration</h4>
                    <p class="card-content">Share your lists with others to get things done faster!</p>
                </div>
            </section>
    
            <section class="section">
                <div class="card">
                    <h4 class="card-header-title">Real-Time Updates</h4>
                    <p class="card-content">Stay magically in sync on all of your devices.</p>
                </div>
            </section>
        </div>
        <!-- /.row -->
    </body>
</html>