<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <title>Home</title>

        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
        crossorigin="anonymous">
    </head>

    <body>
        <%- include ('./partials/navbar') %>
        <div class="container">
            <h3 class="text-center">To get started</h3>
            <div>
                <a role="button" class="btn btn-primary btn-lg btn-block" href="/register">Register</a>
                <p class="text-center" style="padding-top: 10px;"><strong>Or</strong></p>
                <a role="button" class="btn btn-secondary btn-lg btn-block" href="/login">Log In</a>
            </div>
        </div>
    </body>
</html>