<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Lists</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
        crossorigin="anonymous">
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          </nav>
        <div class="container">
            <h1>Lists</h1>
            <form action="/lists/create" method="POST">
                <input type="text" name="name">
                <button>Add</button>
            </form>
            <table class="table table-bordered table-striped table-hover table-condensed table-responsive" id="listTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Tasks left</th>
                        <th>Tasks completed</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i<lists.length; i++) {%>
                        <tr>
                            <td><a href="/tasks/<%= lists[i].list_id %>"><%= lists[i].name %></a></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
    </body>
</html>