<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Home</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
        crossorigin="anonymous">
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          </nav>
        <div class="container">
            <h1>Lists</h1>
            <form action="/lists/create" method="POST">
                <input type="text" name="name">
                <input type="text" name="user_id">
                <button>Add</button>
            </form>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Tasks left</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i<lists.length; i++) {%>
                        <tr>
                            <form action="/lists/edit/<%= lists[i]._id %>" method="POST">
                            <td><input type="text" name="name" value="<%= lists[i].name %>"></td>
                            <td></td>
                            <td>          
                                    <button type="submit">Edit</button>
                            </form>
                                <button formaction="/lists/delete/<%= lists[i]._id %>" type="submit">delete</button>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
    </body>

</html>