.nav-item .nav-link {
    padding-right: 15px;
    color: white;
}

.main-bg {
    background-color: #422061;
}

.btn-primary {
    background-color: #422061;
    border-color: #351553;
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: #8c6baa;
    border-color: #7a5294;
}


.has-error label,
.has-error input,
.has-error textarea {
    color: red;
    border-color: red;   
}

.list-unstyled li {            
    font-size: 13px;    
    padding: 4px 0 0;   
    color: red;
}

.form-group {
    padding-bottom: 15px;
}

.form-errors {
    color: red;
}